*.jpg
*.ods
*.pth
*.pyc
*.swp
.idea
ISIC-2017_Test_v2_Data
ISIC-2017_Test_v2_Part1_GroundTruth
ISIC-2017_Training_Data
ISIC-2017_Training_Part1_GroundTruth
__pycache__
outputs*/
queuedSlurmJobs.png
seganSlurm-rl.sh
slurmOut/
test*.out
